@font-face {
  font-family: "iconfont"; /* Project id 3671299 */
  src: url('iconfont.woff2?t=1664173756748') format('woff2'),
       url('iconfont.woff?t=1664173756748') format('woff'),
       url('iconfont.ttf?t=1664173756748') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pen:before {
  content: "\e7ee";
}

.icon-fly:before {
  content: "\e626";
}

.icon-folder-open:before {
  content: "\e804";
}

.icon-fly1:before {
  content: "\e618";
}

.icon-quick:before {
  content: "\e7a3";
}

.icon-dog:before {
  content: "\e8e5";
}

.icon-cat2:before {
  content: "\e809";
}

.icon-right:before {
  content: "\e6a3";
}

.icon-game:before {
  content: "\e6df";
}

.icon-browser:before {
  content: "\e606";
}

.icon-down:before {
  content: "\e613";
}

.icon-toright:before {
  content: "\e651";
}

.icon-apps:before {
  content: "\e729";
}

.icon-people:before {
  content: "\e736";
}

.icon-auto:before {
  content: "\e6e3";
}

.icon-pic:before {
  content: "\e6aa";
}

.icon-none:before {
  content: "\e7ce";
}

.icon-phone:before {
  content: "\e725";
}

.icon-musicfill:before {
  content: "\e795";
}

.icon-pinterestpinterest31:before {
  content: "\e603";
}

.icon-cat:before {
  content: "\e711";
}

.icon-wechat:before {
  content: "\e634";
}

.icon-pie:before {
  content: "\e720";
}

.icon-up:before {
  content: "\e6a9";
}

.icon-firefox:before {
  content: "\e67f";
}

.icon-app:before {
  content: "\e643";
}

.icon-WeChat:before {
  content: "\e624";
}

.icon-fire:before {
  content: "\e639";
}

.icon-sports:before {
  content: "\e7f1";
}

.icon-round_menu_fill:before {
  content: "\e80b";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-like:before {
  content: "\e7c8";
}

.icon-unlike:before {
  content: "\e7c9";
}

.icon-star:before {
  content: "\e7df";
}

.icon-left:before {
  content: "\e7eb";
}

.icon-up1:before {
  content: "\e7ec";
}

.icon-down1:before {
  content: "\e7ed";
}

.icon-code:before {
  content: "\e7fc";
}

.icon-like-fill:before {
  content: "\e869";
}

.icon-star-fill:before {
  content: "\e86a";
}

.icon-chrome:before {
  content: "\e87e";
}

.icon-apple:before {
  content: "\e87f";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-wechat-fill:before {
  content: "\e883";
}

.icon-chart-line:before {
  content: "\e790";
}

.icon-chart-bar:before {
  content: "\e791";
}

.icon-database:before {
  content: "\e7e8";
}

.icon-Vue:before {
  content: "\e799";
}

.icon-like_fill:before {
  content: "\e707";
}

.icon-like1:before {
  content: "\e708";
}

.icon-play:before {
  content: "\e717";
}

.icon-play_fill:before {
  content: "\e718";
}

.icon-eyeclose-fill:before {
  content: "\e8ff";
}

.icon-eye-close:before {
  content: "\e900";
}

.icon-music:before {
  content: "\e69f";
}

.icon-people1:before {
  content: "\e654";
}

.icon-alert:before {
  content: "\e70e";
}

.icon-cat1:before {
  content: "\e600";
}

.icon-data:before {
  content: "\e74b";
}

.icon-play1:before {
  content: "\e75d";
}

.icon-react:before {
  content: "\e741";
}

.icon-angular:before {
  content: "\e60b";
}

.icon-game1:before {
  content: "\e6e9";
}

.icon-left1:before {
  content: "\e684";
}

.icon-barchart:before {
  content: "\e694";
}

.icon-picture:before {
  content: "\e6ce";
}

.icon-shop:before {
  content: "\e6d8";
}

.icon-None-1:before {
  content: "\e710";
}

.icon-mike:before {
  content: "\e601";
}

.icon-tier-fill:before {
  content: "\ea32";
}

.icon-tier-line:before {
  content: "\ea33";
}

